
<div class="container-fluid container-home">
  <div class="row"></div>

  <div class="row">
    <div class="col-md-12 welcome-block">
        <h1 class="home">Welcome to Pairr </h1>
      <h2 class="home"> Tinder for Programming!</h2>
      <h3 class="home">Finding a perfect programming partner is hard.</h3>
      <h3 class="home"> Let us help match you with your perfect pair!</h3>
        <ul class="nav-link">
          <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>
        </ul>
    </div>
  </div>

  <div class="row"></div>
</div>
