<h1> Potential Pairs </h1>

  <%# @matches.each do |match| %>
    <img src="<%= @match.image_url %>" >
    <%= @match.github_name %>

<%# end %>

<%= link_to "Approve",  %>

<br>
<br>

<%= link_to "Reject" %>
