// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  background-color: #F8BB44;
//  background-color: #FBD280;
//  background-color: lightgrey;
}




img.img-responsive {
  height: 400px;
  width: 400px;
  border-radius: 3%;
//  margin-left: auto;
//  margin-right: auto;
}

a.btn.btn-default {
  margin: 8% 0 0 30%;
}

img.img-responsive.portfolio-item {
  height: 150px;
  width: 150px;
}

//a.img-responsive.portfolio-item {
//  text-align: center;
//}

.col-sm-2.col-xs-6 {
  text-align: center;
}


footer {
  text-align: center;
}
