// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.potential-pairs-heading {
  text-align: center;
}


.col-md-7 .col-sm-7.col-xs-6 {
  margin: 8% 0 0 25%;
}

.col-md-7 .col-sm-7.col-xs-6 a {
  margin-right: 20%;
}


.match-reject {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: -10%;
}

.match-image img.img-responsive{
  margin: 0 0 0 20%;
  border-radius: 3%;
}

.match-approve {
  margin-top: 15%;
  margin-left: -5%;
  margin-right: 5%;
}
